[user]
	name = Carl von Buelow
	email = cvbuelow@gmail.com
[url "https://"]
	insteadOf = git://
[core]
	excludesfile = /Users/cvbuelow/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
  co = checkout
  ci = commit
  cam = commit -am
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[push]
  default = tracking
[merge]
  tool = opendiff
[mergetool "opendiff"]
  trustExitCode = true